<div class="result-container">
  <% if @included && @dictionary %>
    <p><strong>Congratulations! '</strong><%= @word %>' is a valid English word!</p>
  <% elsif @included %>
    <p>Sorry but '<strong><%= @word %></strong>' does not seem like a valid English word!</p>
  <% else %>
    <p>Sorry but '<strong><%= @word %></strong>' can't be build out of "<%= @letters.join(', ') %>"</p>
  <% end %>
  <%= link_to "Play again", root_path, id: "button" %>
</div>
